{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<p>
    Input a <a target="_blank" style="color: #537fbe" href="https://stockanalysis.com/stocks/">Stock Ticker Symbol</a> to view the price of a single share.
</p>

    <form action="/quote" method="post">
        <div class="mb-3">
            <input value="{{ symbol }}"autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <p style="color: #ea433b"> {{ error }}</p>
        {% if validstock == 1 %}
        <p>The value of <b>{{ symbol }}</b> is <b style="color: #2e944b">{{ sprice }}</b> per share.</p>
        {% endif %}
        <button class="btn btn-primary" type="submit">Lookup</button>
    </form>
{% endblock %}
