{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<p>
    Register Account for
    <span style="color: #537fbe">S</span><span style="color: #ea433b">A</span><span style="color: #f5b82e">K</span><span style="color: #2e944b">$</span> <span style="color: #ea433b">Finance</span>
</p>

    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Retype Password" type="password">
        </div>
        {% if registered == 1 %}
        <p style="color:  #2e944b"> Registered! <span style="color: black">Log In <a href="/login">Here</a></span></p>
        {%  endif %}
        <p style="color:  #ea433b"> {{ error }} </p>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
